:root {
  --bg-main: #ddd;
  --bg-footer: #eee;
  --bg-shade: #bbb;
  --bg-document: #a200a7;
  --a-main: #840388;
  --bg-dark: #666;
  --bg-bubble: #c78ac8;
  scrollbar-color: var(--bg-document) var(--bg-main);
  scrollbar-width: thin;
}

html {
  font-size: 1.2rem;
  background-color: var(--bg-document);
}

body {
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.55;
}

.app {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: var(--bg-footer);
}

footer {
  background-color: var(--bg-footer);
}

.inner {
  max-width: 65rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.btn {
  display: inline-block;
  padding: .4rem 1rem .2rem;
  border-radius: 4px;
  border: none;
  line-height: 1.55;
  background-color: var(--bg-document);
  color: var(--bg-footer);
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 2rem;
}

.link {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: var(--bg-document);
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: var(--a-main);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #88b378;
}

.nav {
}

.nav a {
  display: inline-block;
  padding: .7rem .7rem .4rem;
  margin-right: 1rem;
  margin-left: -0.7rem;
  line-height: 1;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 200ms ease;
}

.nav a:hover,
.nav a:active {
  background-color: var(--bg-shade);
}

.nav__title {
  text-transform: uppercase;
}


.navigation {
  display: flex;
}
.navigation a:first-of-type {
  flex-grow: 1;
}

.navigation a {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb
{
  background: var(--bg-document);
}

.form-elem {
  display: block;
  margin: 1rem 0 2rem;
}

.form-elem > span + input {
  display: block;
  margin-top: 0.5em;
}


.mainroom-split {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1rem;
}
.chat {
  width: 100%;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  background-color: var(--bg-main);
}

.chat + .chat {
  margin-left: 1rem;
}

.chat__messages {
  background-color: var(--bg-footer);
  list-style: none;
  margin: .7rem 0 1rem;
  padding: 1rem 0;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-color: var(--bg-document) transparent;
  scrollbar-width: thin;
}

.chat__room-header h3 {
  margin: 0;
}

.spec__title,
.part__title {
  margin: 0
}

.subtle-spacing > * + * {
  margin-left: 1rem;
}
