# Your local IP address or simply 'localhost'
# Port should be the same as the server exposes as the local setup does not rely on nginx
VUE_APP_WS_HOST='localhost'
VUE_APP_WS_PORT=4000
VUE_APP_API_HOST='localhost'
VUE_APP_API_PORT=3000
VUE_APP_LS_PREFIX="CMBAN_"
VUE_APP_BOTBRAIN=localhost
VUE_APP_BOTBRAIN_PORT=3003
