# This should be a url that is reachable via port :80 or :443
# nginx will then forward this to the actual node server and port
VUE_APP_WS_HOST="socket.yourdomain.xyz"
VUE_APP_API_HOST='yourdomain.xyz'

VUE_APP_PROTOCOLL="https"
VUE_APP_LS_PREFIX="CMBAN_"
