:root {
  --bg-main: #ddd;
  --bg-footer: #f5f5f5;
  --bg-shade: #bbb;
  --bg-document: #a200a7;
  --a-main: #840388;
  --bg-dark: #666;
  --bg-bubble: #c78ac8;

  --primary-color: #ff6b00;
  --light-color: #ffffff;
  --dark-color: #000000;
  scrollbar-color: var(--primary-color) var(--bg-main);
  scrollbar-width: thin;

  --break-l: (min-width: 800px);
}


::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.55;
  font-size: 1.1rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-chars: auto 5;
  hyphenate-limit-lines: 2;
  scroll-behavior: smooth;
}

a {
  color: var(--a-main);
}

.monospace {
  font-family: Courier, monospace;
}

.subtle-spacing > * + * {
  margin-left: 1rem;
}

iframe, img {
  width: 100%;
  height: auto;
}


.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  cursor: pointer;
}
select:focus {
  outline: 1px dotted currentColor;
}

h2 {
  margin-top: 0;
}


.form-elem {
  display: block;
  margin: 1rem 0 2rem;
}

.form-elem > span + input {
  display: block;
  margin-top: 0.5em;
}

p + p {
  margin-top: 1rem;
}
