.btn {
  display: inline-block;
  padding: 1rem 1.6rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  font: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.btn--inverted {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn--inverted2 {
  background-color: var(--light-color);
  color: var(--primary-color);
  border: 2px solid currentColor;
}



.btn--pill {
  padding: 0.5em 1.1em 0.4em;
  border-radius: 30px;
}

.btn:hover,
.btn:active {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 2rem;
}

.btn--compose {
  font-size: 2.8rem;
  padding: 0em 0.5em;
  border-radius: 18px;
}

.link {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: var(--bg-document);
  text-decoration: underline;
  cursor: pointer;
}
