.upanel {
  display: flex;
  align-items: center;
}

.upanel__user {
  margin-right: 1rem;
  line-height: 1.1;
  font-size: 1.1rem;
  text-align: right;
  font-weight: 600;
}

.upanel__user > span{
  margin: 0 0.3rem;
}

.index__claim {
  margin: 4rem 0 1rem;
  font-size: 1.6rem;
}

.index .inner {
  font-size: 1.4rem;
}

.index__overflow {

}

@media (min-width: 800px) {
  .peoplelist {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
  .index__overflow {
    max-height: 50vh;
    padding: 0 2rem;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}

.peoplelist__dialog {
  min-height: 10rem;
  width: 10rem;
  font-size: 0.9rem;
  font-family: Courier, monospace;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  white-space: wrap;
}
.peoplelist__list {
  font-weight: 300;
  list-style: none;
  padding: 0;
  margin: 0;
}
.peoplelist__color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.dialog__header {
  font-weight: 600;
  margin: 0;
}



.part__title {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.inner {
  max-width: 40rem;
  margin: auto;
}

.center-helper {
  text-align: center;
}

.spacing-helper {
  margin-top: 3rem;
  margin-bottom: 0;
}

.relative {
  position: relative;
}
