.app .socketwrapper {
  height: 100vh;
  padding: 1.4rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-image: url(/BG-12.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  flex-grow: 1;
}

.footer {
  height: 3vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer .subtle-spacing {
  display: inline-block;
}


.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  text-decoration: underline;
}

.centerstage {
  max-width: 65rem;
  margin: auto;
}

.centerstage__title {
  margin: 0 0 0.1em;
  line-height: 1.5;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
