# This should be a url that is reachable via port :80 or :443
# nginx will then forward this to the actual node server and port
VUE_APP_WS_HOST=socket.yourdomain.xyz
VUE_APP_API_HOST=server.yourdomain.xyz
VUE_APP_API_BOTBRAIN=botbrain.yourdomain.xyz

VUE_APP_LS_PREFIX="CMBAN_"
VUE_APP_LINK_IMPRINT="https://linkehere.com"
VUE_APP_LINK_GDPR="https://linkehere.com"
