# Your local IP address or simply 'localhost'
# Port should be the same as the server exposes as the local setup does not rely on nginx
VUE_APP_WS_HOST='localhost:4000'
VUE_APP_API_HOST='localhost:3000'

VUE_APP_LS_PREFIX="KLOL_"
VUE_APP_LINK_IMPRINT="https://linkehere.com"
VUE_APP_LINK_GDPR="https://linkehere.com"
